*{
  box-sizing: border-box;
}

.tacotop a:link {
  text-decoration:none;
  color:white;
}

.tacotop a:visited{
  color:white;
}

.tacotop a:hover{
  color:yellow;
}

.tacotop a:active{
  color:green;
}
#sup{
  margin:auto;
  text-align:center; 
  width:800px; 
  background-image:url("https://i.pinimg.com/originals/2f/3c/dc/2f3cdc6a9b182457f81b4f72efd26ab3.jpg");
}

header img{
  border-radius:30%;
}

header button{
  height:50px;
  width:50px;
}
.fas{
  font-size:30px;
}
nav{
  border:1px groove white;
  border-radius:5px;
  text-align:; 
  background-color:black;
  padding-right:50px;

}
ul{
  font-size:20px;
  color:white;
  display:flex;
  justify-content:space-between; 
}

.tacotop header{
  display:flex;
  background-image:url("https://www.freepik.com/free-photo/rhassoul-clay-honey-essential-oils-with-cotton-pod-twig-beige-textured-backdrop_4173840.htm");
  margin-bottom:20px;
}

.tacotop p{
  text-align:center;
  FONT-SIZE:30PX;
  margin-left: 180px;
  margin-right: 200px;
}

button {
  font-size:20px;
  border-radius:10px;
  
}

.text{
  border:2px solid white;
  border-radius:10px;
  margin-left:40px;
  padding:10px; 
  width:300px;
  height:;400px
  display:block;
  text-align:left;
}

.history{
  margin-left:80px;
  display:flex;
  
}

.history img{

  display:flex;
  align-item:center;
  border-radius:10px;
}

h3{
  font-family:georgia;
  color:red;
}

h5{
  font-family:"gill sans";  
  color:Green;  
}

.text p{
  font-family:arial;
  font-size:12px;
  color:white;
}

footer {
  margin-top:20px;
  display:flex;
  justify-content:space-between;
  color:white;
  border: 2px solid white; 
  padding-right:100px;
  padding-left:40px;
  border-radius:5px;
  font-size:12px;
}
